.main_component {
    display: flex;
    height: 100vh;
    align-items: stretch;
  }
  
  .friends_card {
    width: 40%;
    height: 100%;

  }
  
  .chat_card {
    width: 60%;
    height: 100%;
    flex-grow: 1;
    margin-left: 10px;
  }
  