    <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer mode="side">
            <h2>Csoportok kezelése</h2>
            <mat-card>
                <p>Hozz létre új csoportot </p>
                <mat-dialog-actions class="add-trigger">
                    <button mat-icon-button color="primary" (click)="openNewGroup()"> <mat-icon>add_box</mat-icon> </button>
                 </mat-dialog-actions>
            </mat-card>
            <h4>Saját csoportjaid</h4>
            <mat-card *ngIf="groups && me " fxLayout="column" fxLayoutGap="20px">
                  <app-list></app-list>
            </mat-card>
        </mat-drawer>
      
         <mat-drawer-content>
          <mat-card fxLayout="column" fxLayoutGap="20px">
            <div class="settings">
              <button type="button" mat-icon-button (click)="drawer.toggle()"><mat-icon>settings</mat-icon></button>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
              <router-outlet></router-outlet>
            </div>
        </mat-card>   
        </mat-drawer-content> 
</mat-drawer-container>
