.friend_card{
  width: 100vh;
  margin-top: 10px;
}
  .messager{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 110vh;
    height: 100vh;
    margin: auto;
    overflow: hidden;
  }

.send {
    position: relative;
    width: 100vh;
    margin: auto;
    border-radius: 10px;
  }

  .screen {
    width: 100vh;
    height: 80vh;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow-y: auto;
    display: flex;
    margin: 0;
  }
  
.send .button {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    margin-top: 5px;
  }

  .message {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }

  .message .message_content {
    background-color: #f1f0f0;
    padding: 10px;
    border-radius: 20px;
    max-width: 60%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }


  .message_container{
      display: block;
      width: 100vh;
      max-height: 80vh;
  }
  
  .message_right .message_content {
    background-color: #7b1fa2;
    color: #fff;
    order: 1;
    float: right
  }

  
  .message_left .message_content {
    background-color: #f1f0f0;
    color: black;
    order: 2;
    margin-top: 10px;
    margin-left: 10px;
    max-width: 15ch; word-break: break-all;
  }
  
  .message {
  display: flex;
  align-items: flex-start;
  margin: 10px;
  flex-direction: row;
}

.message .message_content {
  background-color: #f1f0f0;
  padding: 10px;
  border-radius: 20px;
  max-width: 60%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.message_right {
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
}

.message_right .message_content {
  background-color: #7b1fa2;
  color: #fff;
  order: 1;
  max-width: 15ch; 
  word-break: break-all;
}

.message_left{
  align-items: flex-start;
  flex-grow: 1;
}

.message_left .message_content {
  background-color: #f1f0f0;
  color: black;
  order: 2;
  margin-top: 10px;
  margin-left: 10px;
  max-width: 15ch; 
  word-break: break-all;
}
