<div class="messager">
    <mat-card class="friend_card" *ngIf="chosenFriend">
        <mat-card-header>
            <img mat-card-avatar class="header-image" [src]="friendprofilePic">
            <mat-card-title> {{chosenFriend.name?.firstname}} {{chosenFriend.name?.lastname}}</mat-card-title>
        </mat-card-header>
        </mat-card>
    <div class="chat_name" *ngIf="!chosenFriend">
        <span>Válaszd ki a beszélgető partnered!</span>
    </div>
        <div class="screen" >
        <div class="message_container">
            <div class="message" *ngFor="let mess of friendChat">
                    <div class="message" [ngClass]="{'message_right': mess.from === me?.id, 'message_left': mess.from !== me?.id}">
                      <div (click)="showDate ? showDate = false:showDate = true">
                        <span class="message_content" *ngIf="mess.date && !showDate">{{mess.date | datepipe}}</span>
                        <span class="message_content">{{mess.message}}</span>
                      </div>
                    </div>
            </div>
        </div>
    </div>
    <mat-form-field class="send">
        <form [formGroup]="messageForm" (ngSubmit)="addMessage()">
        <input matInput type="text" formControlName="message"/>
            <span class="button">
                <button [disabled]="!messageForm.valid" mat-raised-button color="primary" type="submit">
                    <mat-icon>send</mat-icon>
                </button>
            </span>
        </form>
    </mat-form-field>
</div>

