<ng-container *ngIf="group && me">
  <div>
    <mat-card>
      <mat-card-title>{{group.name}}</mat-card-title>
      <mat-card-title *ngIf="group.creator === me.id || isModerator()"><button mat-raised-button (click)="managingMembers()">Tagok kezelése</button></mat-card-title>
    </mat-card>
</div>
<hr>
            <div class="div-card" *ngIf="me && (inMembers() || group.security ==='public')">
              <mat-card fxLayout fxLayoutGap="20px">
                  <span>
          
                      <mat-card-content class="post_content">
                          <mat-card-header>
                          <img mat-card-avatar class="header-image" [src]="profilePic">
                              <button class="full_button" mat-raised-button (click)="openGroupPostCreator()">
                              Oszd meg mi jár a fejedben!
                              </button>
                          </mat-card-header>
                      </mat-card-content>
                  </span>
              </mat-card>
          </div>          
        <div class="error-message" *ngIf="message !=='' && me && (inMembers() || group.security ==='public')">
          {{message}}
        </div> 
        <div *ngIf="me && !inMembers() && group.security !=='public'">
          Még nem vagy a csoport tagjai között
        </div>
        <button *ngIf="me && !inMembers() && group.security !=='public'" mat-button>Kérelem elküldése</button>

</ng-container>
<div class="post-list" *ngIf="me && group && (inMembers() || group.security ==='public')">
  <app-post-list *ngFor="let post of allPost" [post]="post" [me]="me" [members]="group.members" [group]="group"></app-post-list>
</div>