<ng-container *ngIf="group">
  <div>
    <mat-card>
      <mat-card-title>{{group.name}}</mat-card-title>
      <mat-card-content>
        <p>{{group.createdate}}</p>
        <p>{{group.id}}</p>
        <mat-chip-listbox *ngFor="let member of group.members">
          <mat-chip>
            {{member.name?.firstname}} {{member.name?.lastname}}
          </mat-chip>
        </mat-chip-listbox>

      </mat-card-content>
      
    </mat-card>
</div>
<hr>

              <mat-card class="post-form" background-color="primary" fxLayout fxLayoutGap="20px">
                <mat-card-header class="center-image">
                  <img class="image" mat-card-lg-image [src]="imagePath" >
                </mat-card-header>
                <mat-card-content>
                  <form [formGroup]="grouppostForm">
                    <mat-form-field>
                        <mat-label for="post">Mi jár a fejedben! </mat-label>
                        <textarea matInput rows="1" cols="30" formControlName="post" required></textarea>
                    </mat-form-field>
                </form>
                </mat-card-content>
                <mat-card-actions>
                  <button 
                  mat-raised-button 
                  color="secondary"
                   type="submit"
                   [disabled]="grouppostForm.get('post')?.value?.length === 0"
                   >Közzététel</button>
                </mat-card-actions>
        </mat-card>
               <div class="post-list">
                <app-post-list *ngFor="let post of groupPost"></app-post-list>
              </div>
            <div class="error-message" *ngIf="message !=='' " >
              {{message}}
            </div> 
</ng-container>