div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.main_component {
    height: 100vh;
    align-items: center;
}

span {
    padding: 5px 5px 5px 5px;
}

mat-form-field {
    width: 50%;
}
mat-card-header {
    display: block;
    margin: auto;
    height: 100%;
}

.profile_pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    border: 3px solid #fff;
    background-size: cover;
  }

  .profile_content {
    display: flex;
    flex-direction: row;
  }
  
  .update_profile, .div-card {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    height: 100%;
  }

  .div_button{
    display: flex;
    flex-wrap: wrap;
  justify-content: space-between;
  }

  .profile_content{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .post_profile_pic {
    margin-top: 0;
    margin-left: 0;
    height: 40px;
    width: 40px;
  }
  
  mat-card-title{
    display: flex;
    flex-direction: row;
  }
  
  .non_post{
    height: 48vh;
  }

  .send {
    position: relative;
    width: 200px;
    margin: auto;
    border-radius: 10px;
  }

  .checkbutton{
    height: 24px;
    width: 24px;
  }

  .button {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    margin-top: 5px;
  }