<mat-card fxLayout fxLayoutGap="20px" *ngIf="me">
        <span fxFlex="1 1">
            <mat-card-content>
              <div class="image" *ngIf="me.gender==='male'" ><img class="profile_pic" [src]="malePP" ></div>
              <div class="image" *ngIf="me.gender==='female'" ><img class="profile_pic" [src]="femalePP" ></div>
              <div class="image" *ngIf="me.gender==='nonbinary'" ><img class="profile_pic" [src]="nbPP" ></div>  
                   <div>{{me.name?.firstname}} {{me.name?.lastname}}</div>
                <div>{{me.friends?.length}} ismerős</div>
            </mat-card-content>
        </span>
</mat-card>

<div class="profile_content" *ngIf="me">
      <div class="update_profile">
        <div>Adataim</div>
          <div class="div_button">
            <div *ngIf="me.work">Jelenlegi munka/Iskola: {{me.work}}
              <button mat-raised-button class="checkbutton" color="primary" (click)="isUpdate()" type="submit">
                  <mat-icon>create</mat-icon>
              </button>
                <mat-form-field *ngIf="isup" class="send">
                  <form [formGroup]="workForm"(ngSubmit)="updateUser()">
                  <input matInput type="text" formControlName="work"/>
                      <span class="button">
                          <button mat-raised-button color="primary" type="submit">
                              <mat-icon>check</mat-icon>
                          </button>
                      </span>
                  </form>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="me.work===undefined || me.work===''">    
            <div>Jelenlegi munka/Iskola
            </div>
              <button mat-raised-button class="checkbutton"  color="primary" (click)="isUpdate()" type="submit">
                <mat-icon>check</mat-icon>
              </button>
                <mat-form-field *ngIf="isup" class="send">
                  <form [formGroup]="workForm"(ngSubmit)="updateUser()">
                  <input matInput type="text" formControlName="work"/>
                      <span class="button">
                          <button mat-raised-button color="primary" type="submit">
                              <mat-icon>send</mat-icon>
                          </button>
                      </span>
                  </form>
              </mat-form-field>
           </div>
      <div class="div_button">
        <div *ngIf="me.birthplace"> Születési hely: {{me.birthplace}}
          <button mat-raised-button class="checkbutton" color="primary" (click)="isUpdatebp()" type="submit">
            <mat-icon>create</mat-icon>
          </button>
          <mat-form-field *ngIf="isbp" class="send">
              <form [formGroup]="birthplaceForm"(ngSubmit)="updateUser()">
              <input matInput type="text" formControlName="birthplace"/>
                  <span class="button">
                      <button mat-raised-button color="primary" type="submit">
                          <mat-icon>check</mat-icon>
                      </button>
                  </span>
              </form>
          </mat-form-field>
      </div>
    </div>
    <div *ngIf="me.birthplace===undefined || me.birthplace===''">    
        <div>Születési hely:
        </div>
          <button mat-raised-button class="checkbutton"  color="primary" (click)="isUpdatebp()" type="submit">
            <mat-icon>create</mat-icon>
          </button>
            <mat-form-field *ngIf="isbp" class="send">
              <form [formGroup]="birthplaceForm"(ngSubmit)="updateUser()">
              <input matInput type="text" formControlName="birthplace"/>
                  <span class="button">
                      <button mat-raised-button color="primary" type="submit">
                          <mat-icon>check</mat-icon>
                      </button>
                  </span>
              </form>
          </mat-form-field>
      </div>
      <div *ngIf="me.gender==='male'">Nem: Férfi</div>
      <div *ngIf="me.gender==='female'">Nem: Nő</div>
      <div *ngIf="me.gender==='nonbinary'">Nem: Nem bináris</div>
</div>

<div class="div-card" *ngIf="myposts.length">
      <span fxLayout="column" fxLayoutGap="20px">
              <div *ngFor="let mypost of myposts; let i = index;">
                <mat-card *ngIf="me"  fxFlex="1 1 50%" fxLayout="column" fxLayoutGap="20px">
                  <mat-card-header>
                    <mat-card-title>
                      <div class="image" *ngIf="me.gender==='male'" ><img class="post_profile_pic" [src]="malePP" ></div>
                      <div class="image" *ngIf="me.gender==='female'" ><img class="post_profile_pic" [src]="femalePP" ></div>
                      <div class="image" *ngIf="me.gender==='nonbinary'" ><img class="post_profile_pic" [src]="nbPP" ></div>  
                                 {{me.name?.firstname}} {{me.name?.lastname}}
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div>{{mypost.post}}</div>
                  </mat-card-content>
                <mat-card-actions>
                  <span>{{mypost.like?.length}}</span>
                  <button mat-icon-button (click)="likePost(mypost.id)">
                    <mat-icon >thumb_up</mat-icon>
                  </button>
                  <span>{{mypost.comments?.length}}</span>
                  <button mat-icon-button (click)="newComment()">
                    <mat-icon>chat_bubble</mat-icon>
                  </button>
                  <button mat-icon-button (click)="deletePost(mypost.id)">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-icon-button >
                    <mat-icon>edit</mat-icon>
                  </button>
                  <p *ngIf="mypost.date">{{mypost.date | datepipe}}</p>
                </mat-card-actions>
                <mat-form-field appearance="fill" *ngIf="newcomment===true">
                  <form (ngSubmit)="addComment(mypost.id)">
                  <mat-label>Új komment</mat-label>
                  <input matInput formControlName="comment" required>
                </form>
                </mat-form-field>
              </mat-card>
              </div>
              
      </span>
    </div>
    <div class="non_post" *ngIf="myposts.length===0">
      Még nincsenek bejegyzéseid
      </div>
</div>
   