<div class="container">
<mat-card class="form-container">
  <form [formGroup]="SignUpForm" (ngSubmit)="onSubmit()">
    <mat-card-title>Regisztráció</mat-card-title>
    <mat-card-content class="form-content">
      <div class="form-row" formGroupName="name">
        <mat-form-field appearance="fill" class="half-width">
          <mat-label>Vezetéknév</mat-label>
          <input
            matInput
            type="text"
            name="lastname"
            formControlName="lastname"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Keresztnév</mat-label>
          <input
            matInput
            type="text"
            name="firstname"
            formControlName="firstname"
            required
          />
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          name="email"
          formControlName="email"
          required
          email
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Jelszó</mat-label>
        <input
          matInput
          type="password"
          name="password"
          formControlName="password"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Születési dátum</mat-label>
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="picker"
          name="birthdate"
          formControlName="birthdate"
          required
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-radio-group aria-label="Nem" formControlName="gender">
        <mat-radio-button checked value="female">Nő</mat-radio-button>
        <mat-radio-button value="male">Férfi</mat-radio-button>
        <mat-radio-button value="nonbinarsy">Egyéni</mat-radio-button>
      </mat-radio-group>
    </mat-card-content>
    <p *ngIf="errormessage">Hiba: {{ errormessage }}</p>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">
        Regisztráció
      </button>
      <button mat-raised-button color="primary" (click)="goBack()">Back</button>
    </mat-card-actions>
  </form>
</mat-card>
</div>