.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  max-height: 520px;
  max-width: 500px;
  padding: 4px;
  background-color: black;
  border-radius: 8px;
  margin: 0 auto;
}


.mat-card-title {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}


.form-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.half-width {
  max-width: 50%;
  margin-right: 10px;
}


p {
  color: red;
  text-align: center;
  margin: 10px 0;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.mat-card-actions button {
  margin: 0 4px;
}


.mat-form-field {
  width: 90%;
}

.mat-radio-button {
  margin-right: 16px;
}

.mat-datepicker-toggle {
  cursor: pointer;
}

