<div class="main_component">
    <div class="div_signup">
            <h1>Csatlakozz hozzánk</h1>
        <form [formGroup]="SignUpForm" (ngSubmit)="onSubmit()">
            
            <mat-form-field>
                <mat-label for="email">Email: </mat-label>
                <input matInput matinput matInput type="text" formControlName="email" />
            </mat-form-field>

            <mat-form-field>
                <mat-label for="password">Password: </mat-label>
                <input matInput type="password" formControlName="password" />
            </mat-form-field>

            <mat-form-field>
                <mat-label for="repassword">Confirm password: </mat-label>
                <input matInput type="password" formControlName="repassword" />
            </mat-form-field>

                <div formGroupName="name" class="subForm">
                    <mat-form-field>
                        <mat-label for="firstname">Fist Name: </mat-label>
                        <input matInput type="text" formControlName="firstname" />
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="lastname">Last Name: </mat-label>
                        <input matInput type="text" formControlName="lastname" />
                    </mat-form-field>
                </div>
                <div class="buttons">
                    <span>
                        <button mat-raised-button color="primary" type="submit">Register</button>
                    </span>
                    <span>
                        <button mat-raised-button color="primary" (click)="goBack()">Back</button>
                    </span>
                </div>
            </form>
        </div>
    <div class="pic_signup">
        <p>Kép helye valahol</p>
    </div>
</div>