<div class="div-card" *ngIf="allposts.length" fxLayout="column" fxLayoutGap="20px">
  <div *ngFor="let allpost of allposts">
          <div *ngFor="let user of alluser">
            <mat-card *ngIf="allpost.creator === user.id">
            <mat-card-header>
              <div *ngIf="defaultPP"><img class="profile_pic" [src]="defaultPP" ></div>
              <mat-card-title>{{user.name?.firstname}} {{user.name?.lastname}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div>{{allpost.post}}</div>
            </mat-card-content>
            
          <mat-card-actions>
            <span *ngIf="allpost.like && allpost.like.length >0">{{allpost.like.length}}</span>
            <button mat-icon-button color="primary" *ngIf="me && me.id && !indexOf(allpost,me.id)" (click)="removeLike(allpost)">
              <mat-icon>thumb_up</mat-icon>
            </button>
            <button mat-icon-button *ngIf="me && me.id && indexOf(allpost,me.id)" (click)="addLike(allpost)">
              <mat-icon>thumb_up</mat-icon>
            </button>
            <span *ngIf="allpost.comments && allpost.comments.length >0">{{allpost.comments.length}}</span>
            <button mat-icon-button>
              <mat-icon>chat_bubble</mat-icon>
            </button>
            <button mat-icon-button (click)="deletePost()">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button (click)="updatePost()">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-card-actions>
          <div *ngIf="allpost.date">{{allpost.date | date}}</div>
        </mat-card>
        <div class="addcomment">

        </div>
          </div>
    </div>
</div>