<div *ngIf="allposts.length">
    <mat-card fxLayout fxLayoutGap="20px">
        <span fxFlex="1 1 50%">
                <div *ngFor="let allpost of allposts; let i = index;">
                    <div *ngFor="let user of alluser; let j = index;">
                        <mat-card-header *ngIf="allpost.creator === user.id">
                            <mat-card-title>{{user.name?.firstname}} {{user.name?.lastname}}</mat-card-title>
                        </mat-card-header>
                    </div>   
                    <div>{{allpost.post}}</div>
                    <div (ngSubmit)="deletePost()">
                        <button mat-raised-button color="primary" type="submit">Delete</button>
                        <button mat-raised-button color="primary" type="submit">Update</button>

                    </div>
                </div>
        </span>

    </mat-card>
</div>
<div *ngIf="myposts.length">
    <mat-card fxLayout fxLayoutGap="20px">
        <span fxFlex="1 1 50%">
                <div *ngFor="let mypost of myposts; let i = index;">
                        <mat-card-header *ngIf="user">
                            <mat-card-title>{{user.name?.firstname}} {{user.name?.lastname}}</mat-card-title>
                        </mat-card-header>
                    <div>{{mypost.post}}</div>
                    <div (ngSubmit)="deletePost()">
                        <button mat-raised-button color="primary" type="submit">Delete</button>
                        <button mat-raised-button color="primary" type="submit">Update</button>
                    </div>
                </div>
        </span>

    </mat-card>
</div>