<mat-card class="form-container">
    <form [formGroup]="groupForm" (ngSubmit)="createGroup()">
      <mat-card-title>Új csoport létrehozása</mat-card-title>
      <mat-card-content class="form-content">
          <mat-form-field appearance="fill">
            <mat-label>Csoport neve</mat-label>
            <input matInput type="text" name="lastname" formControlName="name" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Láthatóság</mat-label>
            <mat-select formControlName="security">
              <mat-option value="private">Privát</mat-option>
              <mat-option value="public">Nyilvános</mat-option>
            </mat-select>
          </mat-form-field>
      
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" type="submit" mat-dialog-close>Létrehoz</button>
        <button mat-raised-button color="primary"  mat-dialog-close>Vissza</button>      
      </mat-card-actions>
    </form>
  </mat-card>