<mat-card *ngIf="me">
    <mat-card-title>{{selectedUser ? 'Adatai' : 'Adataim'}}</mat-card-title>
    <mat-card-content *ngIf="selectedUser; else meData">
        <p>Jelenlegi munka/Iskola: {{selectedUser.work ? selectedUser.work : 'Nincs beállítva'}}</p>
        <p>Születési hely: {{selectedUser.birthplace ? selectedUser.birthplace : 'Nincs beállítva'}}</p>
        <p>Hobbik: {{selectedUser.hobbies ? selectedUser.hobbies : 'Nincs beállítva'}}</p>
        <p [ngSwitch]="selectedUser.gender">
          <ng-container *ngSwitchCase="'male'">Nem: Férfi</ng-container>
          <ng-container *ngSwitchCase="'female'">Nem: Nő</ng-container>
          <ng-container *ngSwitchCase="'nonbinary'">Nem: Nem bináris</ng-container>
          <ng-container *ngSwitchDefault>Nem: Ismeretlen</ng-container>
        </p>    
    </mat-card-content>
        <ng-template #meData>
            <p>Jelenlegi munka/Iskola: {{me.work ? me.work : 'Nincs beállítva'}}</p>
            <p>Születési hely: {{me.birthplace ? me.birthplace : 'Nincs beállítva'}}</p>
            <p>Hobbik: {{me.hobbies ? me.hobbies : 'Nincs beállítva'}}</p>
            <p [ngSwitch]="me.gender">
                <ng-container *ngSwitchCase="'male'">Nem: Férfi</ng-container>
                <ng-container *ngSwitchCase="'female'">Nem: Nő</ng-container>
                <ng-container *ngSwitchCase="'nonbinary'">Nem: Nem bináris</ng-container>
                <ng-container *ngSwitchDefault>Nem: Ismeretlen</ng-container>
              </p> 
            <button *ngIf="!selectedUser" mat-button (click)="updateUser()">Szerkesztés</button>
          </ng-template>
</mat-card>