<mat-card *ngIf="groups " fxLayout="column" fxLayoutGap="20px">
    <ng-container *ngIf="groups.creator">
            <mat-card 
            style="cursor: pointer;"
            [routerLink]="[groups.id]"
            routerLinkActive="active"
            >
              <mat-card-title-group>
                <mat-card-title>{{groups.name}}</mat-card-title>
                <mat-card-title *ngIf="groups.security === 'public'"><mat-icon>public</mat-icon></mat-card-title>
                <mat-card-title *ngIf="groups.security === 'private'"><mat-icon>vpn_lock</mat-icon></mat-card-title>
              </mat-card-title-group>
            </mat-card>
    </ng-container>
</mat-card>
