<span class="loading-indicator" *ngIf="loading">
    <mat-spinner></mat-spinner>
</span>

<div class="login-container">
    <h1>Üdvözlünk az oldalon!</h1>
       <mat-form-field> 
            <mat-label for="email">Email: </mat-label>
            <input 
            matInput
            type="email" 
            [formControl]="email" 
            required
            email
            />
        </mat-form-field>
        <mat-form-field>
            <mat-label for="password">Jelszó: </mat-label>
            <input 
            matInput 
            type="password" 
            [formControl]="password"
            required
            />
        </mat-form-field>
        <span>
            <p class="errormessage" *ngIf="errormessage">{{errormessage}}</p>
            <div *ngIf="!captchaSucceeded" [hidden]="captcha">
                <re-captcha (resolved)="resolved($event)" siteKey="6LeGjSYpAAAAAFOqnbk0THiNtcpbIpq_XiBZWHi_"></re-captcha>
            </div>
            <div [hidden]="!captcha"></div>
            <span *ngIf="captchaSucceeded">
                <button
                mat-raised-button 
                color="primary" 
                (click)="login()"
                [disabled]="!isFormValid()"
                >Bejelentkezés</button>
            </span>
            <span *ngIf="captchaSucceeded">
                <button 
                mat-raised-button 
                color="primary" 
                [routerLink]="'/signup'
                ">Regisztráció
            </button>
            </span>
        </span>
</div>