<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-menu (selectedPage)="changePage($event)" (onCloseSidenav)="onClose($event, sidenav)" [loggedInUser]="loggedInUser" (onLogout)="$event"></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxHide.gt-xs>
                <button mat-icon-button (click)="onToggleSidenav(sidenav)">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div *ngIf="loggedInUser" routerLink="/main"><button mat-raised-button>Friends Website</button></div>
            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
                <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                    <li *ngIf="loggedInUser"><a><mat-icon [matMenuTriggerFor]="menu" matBadge="0" matBadgeColor="warn">notifications</mat-icon></a></li>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>Item 1</button>
                            <button mat-menu-item>Item 2</button>
                        </mat-menu>
                    <li *ngIf="loggedInUser"><a  routerLink="/groups">Groups</a></li>
                    <li *ngIf="loggedInUser"><a  routerLink="/main">Main</a></li>
                    <li *ngIf="loggedInUser"><a  routerLink="/profile">Profile</a></li>
                    <li *ngIf="!(loggedInUser)"><a routerLink="/login">Login</a></li>
                    <li *ngIf="loggedInUser"><a routerLink="/chat">Chat</a></li>
                    <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Logout</a></li>
                    <li *ngIf="!(loggedInUser)"><a routerLink="/signup">SignUp</a></li>  
                </ul>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>