<div class="div-card" *ngIf="user">
    <mat-card fxLayout fxLayoutGap="20px">
        <span fxFlex="1 1 50%">
            <mat-card-header>
                <mat-card-title>{{user.name?.firstname}} {{user.name?.lastname}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <form [formGroup]="postForm" (ngSubmit)="addPost()">
                <div>
                    <mat-form-field>
                        <mat-label for="post">Post: </mat-label>
                        <textarea matInput rows="3" cols="5" formControlName="post"></textarea>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit">Add Post</button>
                </div>
            </form>
            </mat-card-content>
        </span>
    </mat-card>
</div>