<div class="div-card" *ngIf="me">
    <mat-card fxLayout fxLayoutGap="20px">
        <span>

            <mat-card-content class="post_content">
                <mat-card-header>
                <img mat-card-avatar class="header-image" [src]="profilePic">
                    <button class="full_button" mat-raised-button (click)="openPostCreator()">
                    Oszd meg mi jár a fejedben!
                    </button>
                </mat-card-header>
            </mat-card-content>
        </span>
    </mat-card>
</div>

  