  <div class="content">
    <mat-card *ngIf="me">
            <mat-card-header>
                <img mat-card-avatar class="header-image" [src]="myprofilePic">
                <mat-card-title> {{me.name?.firstname}} {{me.name?.lastname}}</mat-card-title>
            </mat-card-header>
            <button mat-raised-button *ngIf="unknownChatCounter>0" (click)="IsSwap()">Kéretlen üzenetek ({{unknownChatCounter}})</button>
    </mat-card>
    <div *ngIf="friendsInput">
    <mat-card class="search-card">
        <mat-card-header>
            Kit ismerhetek?
        </mat-card-header>
        <mat-form-field class="search-bar">
          <input matInput type="text" [(ngModel)]="searchtext" placeholder="Keresés a felhasználók között..." >
      </mat-form-field>
      </mat-card>
      <div *ngIf="!isSwap">
      <div *ngFor="let friend of friendsInput | searchFilter: searchtext">
        <app-friendcard [me]="me" [friend]="friend"></app-friendcard>
    </div>
    </div>
    <div *ngIf="isSwap && unknownUsers">
        <div *ngFor="let friend of unknownUsers | searchFilter: searchtext">
          <app-friendcard [me]="me" [friend]="friend"></app-friendcard>
      </div>
      </div>
</div>
</div>

  